{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 180,
  "tabWidth": 2,
  "disableNextLine": true,
  "vueIndentScriptAndStyle": false,
  "jsxBracketSameLine": true
}