/**
 * Generic
 */
._text-gradient-zk {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(272.04deg, rgb(203, 203, 255) 46.24%, rgb(140, 141, 252) 99.45%) !important;
}
