//Colors
$white: #fff;
$gray: #9eaebb;
$black: #242424;
$trueBlack: #000;
$violet: #4e529a;
$green: #1d9b4a;
$darkViolet: #171a49; //MajorDark
$darkBlack: #11142b;
$obsidianBlack: #0a0c1a;
$lightViolet: #8c8dfc;
$red: #f25f5c;
$muted: #565656;
$whiteFaded: #FFFFFF7F;
$whiteFadedLight: rgba(255, 255, 255, 0.85);
$colorTxt: rgba(255, 255, 255, 0.6);
$dividerColor: transparentize(
  $color: #525163,
  $amount: 0.5
);

$borderRadiusXs: 6.6px;
$borderRadiusSm: 0.25rem;
$borderRadius: 8px;
$borderRadiusBig: 16px;

$gradientRegularPieceBefore: radial-gradient(19.49% 58.52% at 50% 0%, #F9C43C4C 0%, rgba(231, 166, 1, 0) 100%),
  radial-gradient(50% 50% at 100% 100%, #520aeb 10.27%, #9F73FF00), radial-gradient(77.86% 77.86% at 100% 0%, #00a7ff 0%, #00A6FE1E 100%),
  radial-gradient(50% 50% at 0% 0%, #ff8d6c 0%, #FF5C0099 100%), radial-gradient(70.24% 70.24% at 0% 100%, #e81d72 0%, #FF000000 100%);

$gradientRegularPieceBefore: radial-gradient(19.49% 58.52% at 50% 0%, #F9C43C4C 0%, rgba(231, 166, 1, 0) 100%),
  radial-gradient(50% 50% at 100% 100%, #520aeb 10.27%, #9F73FF00), radial-gradient(77.86% 77.86% at 100% 0%, #00a7ff 0%, #00A6FE1E 100%),
  radial-gradient(50% 50% at 0% 0%, #ff8d6c 0%, #FF5C0099 100%), radial-gradient(70.24% 70.24% at 0% 100%, #e81d72 0%, #FF000000);

$gradientRegularPieceAfter: radial-gradient(19.49% 58.52% at 50% 0%, #F9C43C4C 0%, rgba(231, 166, 1, 0) 100%),
  radial-gradient(50% 50% at 100% 100%, #520aeb 10.27%, #9F73FF00), radial-gradient(77.86% 77.86% at 100% 0%, #00a7ff 0%, #00A6FE1E 100%),
  radial-gradient(50% 50% at 0% 0%, #ff8d6c 0%, #FF5C0099 100%), radial-gradient(70.24% 70.24% at 0% 100%, #e81d72 0%, #FF000000);

$zBgGradient: radial-gradient(19.49% 58.52% at 50% 0%, #F9C43C4C 0%, rgba(231, 166, 1, 0) 100%),
  radial-gradient(50% 50% at 100% 100%, #520aeb 10.27%, #9F73FF00), radial-gradient(77.86% 77.86% at 100% 0%, #00a7ff 0%, #00A6FE1E 100%),
  radial-gradient(50% 50% at 0% 0%, #ff8d6c 0%, #FF5C0099 100%), radial-gradient(70.24% 70.24% at 0% 100%, #e81d72 0%, #FF000000);

/**
 * Colors
 */
$zkColorTxtHeading: #c4c4c4;
$zkColorTxtCommon: $white;
$zkColorTxtFaded: $whiteFaded;
$zkColorTxtFadedLight: rgba(255, 255, 255, 0.3);

$zkColorBgFadedDark: rgba(0, 0, 0, 0.3);
$zkColorBgButton: #121429;

$zkColorBorderLight: rgba(255, 255, 255, 0.1);

$zkColorHover: rgba(0, 0, 0, 0.4);
$zkColorLightWhite: rgba(24, 24, 32, 0.01);
$zkColorVioletGradient: hsl(240deg, 4%, 5%);
$zkColorVioletGradientAngular: conic-gradient(from 180deg at 50% 50%, rgba(0, 47, 168, 0) 0deg, $lightViolet 360deg);

$gradientRegularPieceBefore: radial-gradient(19.49% 58.52% at 50% 0%, #F9C43C4C 0%, rgba(231, 166, 1, 0) 100%),
  radial-gradient(50% 50% at 100% 100%, #520aeb 10.27%, #9F73FF00), radial-gradient(77.86% 77.86% at 100% 0%, #00a7ff 0%, #00A6FE1E 100%),
  radial-gradient(50% 50% at 0% 0%, #ff8d6c 0%, #FF5C0099 100%), radial-gradient(70.24% 70.24% at 0% 100%, #e81d72 0%, #FF000000);

$gradientRegularPieceAfter: radial-gradient(19.49% 58.52% at 50% 0%, #F9C43C4C 0%, rgba(231, 166, 1, 0) 100%),
  radial-gradient(50% 50% at 100% 100%, #520aeb 10.27%, #9F73FF00), radial-gradient(77.86% 77.86% at 100% 0%, #00a7ff 0%, #00A6FE1E 100%),
  radial-gradient(50% 50% at 0% 0%, #ff8d6c 0%, #FF5C0099 100%), radial-gradient(70.24% 70.24% at 0% 100%, #e81d72 0%, #FF000000);

$link-color: $lightViolet;
$color-secondary: $violet;

/* Input */
$input-prefix-border-width: 0;
$input-border-width: 1px;
$input-border-color-dark: #ffffff14;
$input-border-color-focus-dark: #fff3;
$input-background-dark: #ffffff05;
$input-background-light: #00000005;
$input-border-color-light: #0000000a;
$input-border-color-focus-light: #0003;

/* Modal */
$modal-border-radius: (
  md: 8px
);
$modal-border-color-dark: $input-border-color-dark;
$modal-background-dark: $darkViolet;
$modal-border-color-light: #180d0d14;
$modal-background-light: $white;

//Fonts
$openSans: "Open Sans", "sans-serif";
$grotesk: "FK Grotesk", "sans-serif";

$font-family-primary-base: $openSans;
$font-family-headers: $grotesk;

/* Transitions */
$transition1: ease 0.2s;
$transition2: ease 0.3s;
$transition3: ease 0.8s;
$transitionMedium: ease 0.27s;

/* Responsive */
$mobile: 768px;
$maxWidth: 1370px;

/* Shadows */
$shadowTop: 0 -3px 10px #00000019;

/* Borders */
$borderInsetRadius: 8px;